<div class="password-list">
  <h1>Passwords</h1>

  <div *ngFor="let category of categories">
    <h3 class="category-title">{{ category }}</h3>
    <div class="category-section">
        <div
          *ngFor="let password of groupedPasswords[category]"
          class="password-item"
          (click)="togglePasswordDetails(password)"
        >
          <h4 class="password-title">{{ password.name }}</h4>
        </div>

      <div
        class="details-card"
        *ngIf="selectedPassword && selectedPassword.category === category"
      >
        <div class="card-content">
          <p><strong>Category:</strong> {{ selectedPassword.category }}</p>
          <p><strong>Name:</strong> {{ selectedPassword.name }}</p>
          <p><strong>Url:</strong> {{ selectedPassword.url }}</p>
          <p><strong>Username:</strong> {{ selectedPassword.username }}</p>
          <p><strong>Password:</strong> {{ selectedPassword.password }}</p>
          <p>
            <strong>Additional Details:</strong>
            {{ selectedPassword.additionalDetails }}
          </p>
          <p><strong>Origin:</strong> {{ selectedPassword.origin }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
