<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Software Engineer - Spark Systems</mat-panel-title>
      <mat-panel-description
        >Jul 2022 - Present (1 year 11 months)</mat-panel-description
      >
    </mat-expansion-panel-header>
    <ul>
      <li>
        Played a pivotal role in a transformative initiative aimed at replacing
        a software platform built with OutSystems technology with a new solution
        crafted using .NET Core and Angular. This decision stemmed from the
        desire to eliminate hefty licensing fees associated with the previous
        platform.
      </li>
      <li>
        Collaborated closely with a talented team of developers to deliver a
        robust, cost-effective alternative. Through collective effort and
        innovative problem-solving, we successfully migrated to the new software
        platform.
      </li>
    </ul>

    <p><strong>Technologies:</strong></p>
    <ul>
      <li>Angular and ASP.NET Core</li>
      <li>
        AWS (RDS, S3, CloudFront, CloudWatch, Amazon X-Ray, Lambda, ECS, Api
        Gateway, WAF, Secrets Manager, Cognito, SQS, IAM, Lambda, SES, Event
        Bridge, etc.)
      </li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title
        >Lead Software Engineer - Grupo Fiscoplan</mat-panel-title
      >
      <mat-panel-description
        >Nov 2021 - Jun 2022 (8 months)</mat-panel-description
      >
    </mat-expansion-panel-header>
    <ul>
      <li>
        Led the challenging task of replacing legacy software with a modern
        solution leveraging the latest technologies. Within a tight deadline of
        just 7 months, I spearheaded the development of a new software stack
        utilizing .NET Core 6 on the backend and Angular 13 on the frontend.
      </li>
      <li>
        Architected and developed the software from scratch, mentoring a junior
        developer to assist with the project. Despite the initial challenges and
        tight timeline, our collaborative efforts paid off.
      </li>
    </ul>
    <p><strong>Technologies:</strong></p>
    <ul>
      <li>Angular 13</li>
      <li>ASP.NET Core 6</li>
      <li>CI/CD on Azure with self-hosted agent</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Software Engineer - Blip</mat-panel-title>
      <mat-panel-description
        >May 2021 - Nov 2021 (7 months)</mat-panel-description
      >
    </mat-expansion-panel-header>
    <ul>
      <li>
        Collaborated with leading telecommunications companies such as Tim and
        Claro in Brazil, enhancing customer engagement and retention strategies.
        Developed a chatbot to proactively engage with customers, offering
        tailored solutions to meet their needs and preferences.
      </li>
      <li>
        Led the development of this chatbot, overcoming significant hurdles
        through teamwork and expertise. Our innovative solutions fostered strong
        relationships with our clients.
      </li>
    </ul>
    <p><strong>Technologies:</strong></p>
    <ul>
      <li>Git and Git Flow</li>
      <li>ASP.NET Core, Unit tests, K8s</li>
      <li>Chatbot builds using Take Blip tools (SDKs and platform)</li>
      <li>Azure DevOps (Pipeline, Board (Scrumban), Wiki)</li>
    </ul>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Software Engineer - Escola em Movimento</mat-panel-title>
      <mat-panel-description
        >Feb 2019 - May 2021 (2 years 4 months)</mat-panel-description
      >
    </mat-expansion-panel-header>
    <ul>
      <li>
        Managed multiple software products serving over 1 million customers,
        maintaining operational integrity and ensuring customer satisfaction.
        Addressed issues in features after changes or integrations with other
        software.
      </li>
      <li>
        Led efforts to develop and implement comprehensive documentation
        protocols, streamlining troubleshooting efforts and enhancing team
        efficiency.
      </li>
    </ul>
    <p><strong>Technologies:</strong></p>
    <ul>
      <li>ASP.NET (MVC and Core), Windows Forms</li>
      <li>SQL Server, Postgres, Redis, Elastic Search</li>
      <li>Angular 5 (HTML, CSS, TypeScript) and JavaScript</li>
      <li>Git, jQuery</li>
      <li>Jenkins, Docker, AWS, Hangfire</li>
      <li>Power BI and SQL Server tools</li>
      <li>ORMs: NHibernate and Dapper</li>
      <li>
        Frontend libraries and frameworks: Knockout, Sammy, MomentJs, jQuery,
        jQuery Validate
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
