<div class="about-container">
  <h1>About Me</h1>
  <p>Greetings, everyone!</p>
  <p>
    I'm thrilled to have you here. In 2019, I made the wise decision to embark
    on a career in web development. Since then, I've been dedicated to honing my
    skills in this field. As a full-stack developer, I have a strong background
    in technologies such as ASP.NET Core, ASP.NET MVC, Angular, and AWS, among
    others. I'm passionate about crafting innovative and scalable solutions that
    meet clients' needs and provide exceptional user experiences. Looking
    forward to connecting with like-minded professionals like you!
  </p>

  <h2>Experience</h2>

  <app-experience></app-experience>

  <h2>Education</h2>
  <p>
    <strong>PUC Minas</strong> <br />
    Bachelor's Degree in Information Systems <br />
    Jan 2016 - Dec 2019
  </p>
  <p>
    Awarded the gold medal as an academic standout in the undergraduate program.
  </p>

  <h2>Licenses & Certifications</h2>
  <ul>
    <li>
      CTFL (Certified Tester Foundation Level) - ISTQB® - International Software
      Testing Qualifications Board (19-CTFL-09900-BR)
    </li>
  </ul>

  <h2>Honors & Awards</h2>
  <ul>
    <li>Medal of honor at graduation - PUC</li>
    <li>Medal of honor as academic highlight of graduation</li>
  </ul>
</div>
